html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: black;

}
/* navbar  */
.navbar{
  height: 20vh;
  padding-left: 50px !important; 
  padding-right: 50px !important;
}

/* profile  */
.profile{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile p{
  color: rgb(85, 85, 85);
  font-weight: 600;
  text-align: center;
 
}
.profile p:last-of-type{
  font-size: 30px;
}
.profile .intro-text{
  margin-left: 48px;
}
/* about  */
.myexperience ,.myeducation{
  border: 2px solid rgb(85, 85, 85);
  border-radius: 25px;
  /* width: 50%; */
  flex: 1;
}

/* experience component  */
.basic-front>div>div{
  border: 2px solid rgb(85, 85, 85);
  border-radius: 25px;
  height: 100%;
}

.project>div{
  background: rgb(250, 250, 250);
  border-radius: 20px;
}

/* back to top icon  */
.to-top{
  position: fixed;
  bottom: 16px;
  right: 20px;
  cursor: pointer;
}


/* hovers  */
.nav > *:hover ,.linked-in:hover , .email:hover ,.footer>*:hover{
  color: grey !important;
  border-bottom: 2px solid grey;
  width: fit-content;
  
  }
/* media  */
@media (max-width:992px) {
  .navbar {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin: 0 !important;
  }
  .profile{
    display: block;
  }
  .intro-text{
    margin: 0 !important;
  }
  .aboutme{
    display: block !important;
    margin-top: 0 !important;
    padding-top: 10px !important;
  }
  .aboutparagraph{
    max-width:inherit !important;
  }
.aboutimage{
  margin-right: 0 !important;
}
.exp-edu{
  margin-top: 15px !important;
}

.basics>* , .front>* {
  width: 193px;
}

}
@media(max-width:576px){
  .exp-edu{
    display: block !important;
    
  }
  .myexperience{
    margin: auto !important;
    margin-top: 15px !important;
  }
  .myeducation{
    margin: auto !important;
    margin-top: 15px !important;
  }
  .basic-front>div{
    padding: 0 !important;
  }

  .project{
    padding: 0 !important;
  }
 
  .contactC{
    padding-top: 48px !important;
  }
  .footer{
    flex-direction: column;
    margin-top: 50px !important;
    width: 100% !important;
  }
}
@media(min-width:992px){
  .experience , .about , .projects ,.contact{
     height: 100vh;
  }
 
}


@media (min-width: 576px) and (max-width: 769px) {
.git{
  width: 42% !important;
}
.demo{
  width: 53% !important;
}

}